nav.filter {
  float: left;
  display: block;
  text-align: center;
  position: relative;
  top: 50%;
  float: right;
}
nav.filter a {
  text-decoration: none;
  color: #474a6a;
}
nav.filter a:hover {
  color: #f57246;
}
nav.filter > ul > li > a {
  display: block;
  border-bottom: 1px solid #ddd;
  margin: 0px 0px 5px;
  padding: 0px 0px 3px;
}
nav.filter > ul > li ul li {
  padding: 3px 20px;
}
nav.filter > ul {
  display: inline-table;
}
nav.filter > ul > li {
  display: inline-block;
  border: 0px;
  width: 80px;
  position: relative;
  float: left;
}
nav.filter > ul > li > ul {
  position: absolute;
  left: 0;
  background: white;
  width: 200%;
  z-index: 2;
}
nav.filter > ul > li > ul li {
  padding: 5px 5px;
  position: relative;
  text-align: left;
}
@media (max-width: 640px) {
  nav.filter {
    display: block;
    width: 100%;
    float: none;
    clear: both;
    position: static;
  }
  nav.filter > ul {
    display: block;
  }
  nav.filter > ul > li {
    font-weight: bold;
    display: block;
    float: none;
    width: 100%;
  }
  nav.filter > ul > li:first-child {
    border-top: 1px solid #ddd;
  }
  nav.filter > ul > li > a {
    margin: 0px;
    padding: 5px 0 5px;
  }
  nav.filter > ul > li > ul {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative;
  }
  nav.filter > ul > li > ul li {
    font-weight: normal;
    text-align: center;
  }
}
