@import "variables.less";

nav{
	&.filter{
		width:18%;
		float:left;
		&>ul{
			&>li{
				&>a{
					display:block;
					border-bottom:1px solid #ddd;
					margin:0px 0px 5px;
					padding:0px 0px 3px;
				}
				ul{
					li{
						padding:0px 20px;
					}
				}
			}
		}
		@media only screen and (max-width: @lg-screen){
			display:block;
			width:100%;
			float:none;
			clear:both;
			&>ul{
				&>li{ 
					display:inline-block;
					border:0px;
					padding:0px 10px 0px 0px;
				}
			}
		}
		@media only screen and (max-width: @sm-screen){
			display:none;
		}
	}
}