nav.filter {
  width: 18%;
  float: left;
}
nav.filter a {
  text-decoration: none;
  color: #474a6a;
}
nav.filter a:hover {
  color: #f57246;
}
nav.filter > ul > li > a {
  display: block;
  border-bottom: 1px solid #ddd;
  margin: 0px 0px 5px;
  padding: 0px 0px 3px;
}
nav.filter > ul > li ul li {
  padding: 3px 20px;
}
@media (max-width: 1280px) {
  nav.filter {
    display: block;
    width: 100%;
    float: none;
    clear: both;
  }
  nav.filter > ul > li {
    display: inline-block;
    border: 0px;
    width: 100px;
    position: relative;
    float: left;
  }
  nav.filter > ul > li > ul {
    position: absolute;
    background: white;
    width: 200%;
    z-index: 2;
  }
  nav.filter > ul > li > ul li {
    padding: 5px 5px;
    position: relative;
  }
}
@media (max-width: 640px) {
  nav.filter {
    display: none;
  }
}
