@import "variables.less";

nav{
	&.filter{
		width:18%;
		float:left;
		a{
			text-decoration:none;
			color:@dark-color;
			&:hover{
				color:@base-color;
			}
		}
		&>ul{
			&>li{
				&>a{
					display:block;
					border-bottom:1px solid #ddd;
					margin:0px 0px 5px;
					padding:0px 0px 3px;
				}
				ul{
					li{
						padding:3px 20px;
					}
				}
			}
		}
		@media(max-width: @lg-screen){
			display:block;
			width:100%;
			float:none;
			clear:both;
			&>ul{
				&>li{ 
					display:inline-block;
					border:0px;
					width:80px;
					position:relative;
					float:left;
					&>ul{
						position:absolute;
						background:white;
						width:200%;
						li{
							padding:5px 5px;
							position:relative;
						}
						z-index:2;
					}
				}
			}
		}
		@media(max-width: @sm-screen){
			display:block;
			width:100%;
			float:none;
			clear:both;
			margin-top:20px;
			&>ul{
				&>li{
					display:block;
					float:none;
					width:100%;
					&>ul{
						position:relative;
					}
				}
			}
		}
	}
}