.nav-wrapper {
  max-width: 1280px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 120px;
  clear: both;
}
.nav-wrapper > p {
  float: left;
  width: 200px;
  margin: 0;
  background: url('../img/logo.png') no-repeat;
  height: 120px;
  text-indent: -9999px;
}
.nav-wrapper > nav {
  float: right;
  height: 100%;
  display: table;
}
.nav-wrapper > nav > ul {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.nav-wrapper > nav > ul > li {
  float: left;
}
.nav-wrapper > nav > ul > li a {
  padding: 5px 15px;
  text-decoration: none;
  color: #777777;
}
.nav-wrapper > nav > ul > li a:hover {
  transition: 0.5s ease-in-out;
  color: #f57246;
}
.nav-wrapper > nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #fde1d7;
}
.nav-wrapper > nav > ul > li > ul > li {
  padding: 5px 0px;
}
@media only screen and (max-width: 640px) {
  .nav-wrapper {
    height: auto;
  }
  .nav-wrapper > p {
    float: none;
    background-size: 90%;
    margin: 0 auto;
    height: 90px;
  }
  .nav-wrapper > nav {
    display: block;
    float: none;
    border: 1px solid #fde1d7;
    margin: 0 20px;
  }
  .nav-wrapper > nav > ul > li {
    display: block;
    float: none;
    padding: 5px 0;
  }
  .nav-wrapper > nav > ul > li > ul {
    position: static;
    border: none;
    margin: 5px 0px 5px 10px;
  }
  .nav-wrapper > nav > ul > li > ul a {
    font-size: 0.9em;
  }
  .nav-wrapper > nav > ul > li > ul > li > ul {
    margin: 5px 0px 5px 10px;
  }
}
