@import "variables.less";
@import "utilities.less";

.radial-gradient(@position: 50% 50%; @x: white; @y: @base-color){
	background: -webkit-radial-gradient(@arguments); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(@arguments); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(@arguments); /* For Firefox 3.6 to 15 */
	background: radial-gradient(@arguments); /* Standard syntax */
}
.ngallery-slider {
	width: 100%;
	position: relative;
	&:after{
		content:"";
		display:table;
		float:none;
		clear:both;
	}
	&:before{
		content:"";
		display:table;
		float:none;
		clear:both;
	}
	.nwrapper {
		position:relative;
		overflow:hidden;
		padding: 45px 15px 15px;
		.nslider {
			li{
				display:block;
				img{
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
	
	.nthumbslider {
		position: absolute;
		bottom: 10px;
		right: 10px;
		li {
			float: left;
			margin-right: 5px;
			a {
				display: block;
				width: 16px;
				height: 16px;
				background: radial-gradient(75% 75%,rgba(150,150,150,1),rgba(255,255,255,0));
				border-radius:16px;
				opacity: .4;
				.trans (.3s);
				&:hover { .active;}
			}
		}
		.active { 
			background: -webkit-radial-gradient(75% 75%, @light-color,rgba(255,255,255,1),rgba(255,255,255,0)); /* Safari 5.1 to 6.0 */
			background: -o-radial-gradient(75% 75%, @light-color,rgba(255,255,255,1),rgba(255,255,255,0)); /* For Opera 11.6 to 12.0 */
			background: -moz-radial-gradient(75% 75%, @light-color,rgba(255,255,255,1),rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
			background: radial-gradient(75% 75%, @dark-color,rgba(255,255,255,1),rgba(255,255,255,0)); /* Standard syntax */
			border-radius:16px;
		}
	}
	.control {
		position: absolute;
		width: 1000px;
		top: 200px;
		height: 92px;
		overflow: hidden;
		.button {
			width: 34px;
			height: 92px;
			display: block;
			position: absolute;
			top: 0;
			opacity: .4;
			.trans (.3s);
			background: url("../img/gallery-button.png") no-repeat;
			&:hover {
				opacity: 1;
				.trans (.3s);
			}
		}
		.prev {
			.button;
			background-position: 0 0;
			left: 0;
		}
		.next {
			.button;
			background-position: -44px 0;
			right: 0;
		}
	}
}