@import "variables.less";

header{
	max-width:@wrapper-width;
	width:100%;
	margin:0px auto;
	height:120px;
	&>p{
		float:left;
		width:200px;
		margin:0;
		background:url('../img/logo.png') no-repeat;
		height:120px;
		text-indent:-9999px;
	}
	&>nav{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		ul{		
			li{
				display:inline-block;
				list-style-type:none;
				padding:0 20px;
			}
		}
		float:right;		
	}
	@media only screen and (max-width: @sm-screen){
		height:auto;
		overflow:hidden;
		&>p{
			margin:0 auto;
			float:none;
			height:90px;
			background-size:80%;
		}
		nav{
			top:0;
			transform:none;
			float:none;
			text-align:center;
			ul{
				display:inline-table;
				width:auto;
				white-space: nowrap;
				margin:0 auto;
				li{
					padding:0 15px;
				}
			}
		}
	}
}