header {
  width: 100%;
  margin: 0px auto;
  height: 120px;
  clear: both;
}
@media only screen and (max-width: 640px) {
  header {
    height: auto;
  }
}
header > nav {
  position: relative;
  /* This is used for vertical Middle 
			top: 50%;
			transform: translateY(-50%);
		*/
  font-size: .75em;
  color: #fff;
  background: #000;
  width: 100%;
  overflow: hidden;
}
header > nav ul {
  float: right;
}
header > nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 6px 10px;
}
