header {
  width: 100%;
  margin: 0px auto;
  height: 120px;
}
header .header-wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 120px;
}
header .header-wrapper > p {
  float: left;
  width: 200px;
  margin: 0;
  background: url('../img/logo.png') no-repeat;
  height: 120px;
  text-indent: -9999px;
}
header > nav {
  position: relative;
  /* This is used for vertical Middle 
			top: 50%;
			transform: translateY(-50%);
		*/
  font-size: .75em;
  color: #fff;
  background: #000;
  width: 100%;
  float: right;
}
header > nav ul {
  float: right;
}
header > nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 6px 10px;
}
@media only screen and (max-width: 640px) {
  header {
    height: auto;
    overflow: hidden;
  }
  header .header-wrapper {
    height: auto;
  }
  header .header-wrapper > p {
    margin: 0 auto;
    float: none;
    height: 90px;
    margin-bottom: 10px;
  }
  header .header-wrapper:after {
    content: "";
    display: block;
    clear: both;
  }
  header > nav {
    top: 0;
    transform: none;
    float: none;
    text-align: center;
    color: #fff;
    background: #000;
    overflow: hidden;
  }
  header > nav ul {
    display: inline-table;
    width: auto;
    white-space: nowrap;
    margin: 0 auto;
    padding-right: 0px;
  }
  header > nav ul li {
    padding: 6px 15px;
  }
}
