@import "variables.less";

header{
	max-width:@wrapper-width;
	width:100%;
	margin:0px auto;
	height:120px;
	p{
		float:left;
		width:200px;
		margin:0;
	}
	nav{
		margin-left:250px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		ul{		
			li{
				display:inline-block;
				list-style-type:none;
				padding:0 20px;
			}
		}
		float:right;
	}
}