@import "reset.css";
@import "text.less";
@import "header.less";
@import "footer.less";
@import "filter.less";
@import "wrapper.less";
@import "variables.less";
@import "utilities.less";
@import "grid.less";
@import "button.less";
@import "img.less";
@import "table.less";
@import "test.less";
main{
	float:right;
	width:80%;

	@media only screen and (max-width: @lg-screen){
		width:100%;
	}
}