@import "reset.css";
h1 {
  font-size: 2em;
  margin: 0.5em 0;
  color: #f57246;
}
h2 {
  font-size: 1.75em;
  margin: 0.25em 0;
}
h3 {
  font-size: 1.5em;
  margin: 0.2em 0;
}
h4 {
  font-size: 1.25em;
  margin: 0.15em 0;
}
header {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  height: 120px;
}
header > p {
  float: left;
  width: 200px;
  margin: 0;
  background: url('../img/logo.png') no-repeat;
  height: 120px;
  text-indent: -9999px;
}
header > nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}
header > nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
}
@media only screen and (max-width: 640px) {
  header {
    height: auto;
    overflow: hidden;
  }
  header > p {
    margin: 0 auto;
    float: none;
    height: 90px;
    background-size: 80%;
  }
  header nav {
    top: 0;
    transform: none;
    float: none;
    text-align: center;
  }
  header nav ul {
    display: inline-table;
    width: auto;
    white-space: nowrap;
    margin: 0 auto;
  }
  header nav ul li {
    padding: 0 15px;
  }
}
footer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
nav.filter {
  width: 18%;
  float: left;
}
nav.filter ul li {
  border-bottom: 1px solid #ddd;
  margin: 0px 0px 20px;
  padding: 0px 0px 3px;
}
@media only screen and (max-width: 1280px) {
  nav.filter {
    display: block;
    width: 100%;
    float: none;
    clear: both;
  }
  nav.filter ul li {
    display: inline-block;
    border: 0px;
    padding: 0px 10px 0px 0px;
  }
}
@media only screen and (max-width: 640px) {
  nav.filter {
    display: none;
  }
}
.BoxSizing {
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */

  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */

  box-sizing: border-box;
  /* Everything else */

}
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: 0 20px 0px 20px;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */

  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */

  box-sizing: border-box;
  /* Everything else */

  overflow: hidden;
  margin: 10px auto 30px;
  clear: both;
}
.BoxSizing {
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */

  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */

  box-sizing: border-box;
  /* Everything else */

}
.row {
  margin: 0 -10px;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */

  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */

  box-sizing: border-box;
  /* Everything else */

}
.row:before,
.row:after {
  display: table;
  content: " ";
  clear: both;
}
[class^='col'] {
  padding: 0 10px;
  float: left;
  position: relative;
  min-height: 1px;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */

  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */

  box-sizing: border-box;
  /* Everything else */

}
.col-sm-25 {
  width: 25%;
}
.col-sm-50 {
  width: 50%;
}
@media only screen and (min-width: 641px) {
  .col-md-25 {
    width: 25%;
  }
}
@media only screen and (min-width: 769px) {
  .col-lg-25 {
    width: 25%;
  }
  .col-lg-50 {
    width: 50%;
  }
}
button {
  background: #f57246;
  color: white;
  border: 0;
  padding: 1em 3em;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  position: relative;
  border-bottom: 3px solid #f24d16;
  overflow: hidden;
}
button:hover {
  border-bottom-width: 2px;
  margin-top: 1px;
}
button:active,
button:focus {
  border-bottom-width: 1px;
  margin-top: 2px;
}
button .btn-text {
  position: relative;
  z-index: 1;
}
button .btn-bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 200%;
  transition: all 600ms ease;
  background: linear-gradient(to bottom, #fccebf, #f89776);
}
button:hover .btn-bg {
  top: 0;
}
.img-responsive {
  max-width: 100%;
  width: 100%;
}
table {
  width: 100%;
  max-width: 100%;
}
table thead tr {
  border-bottom: 1px solid #0094e5;
}
table thead tr th {
  font-weight: bold;
  text-align: left;
  padding: 5px 0px;
  font-size: 1.1em;
}
table tbody tr td {
  text-align: left;
  padding: 5px 0px;
}
table tbody tr:nth-child(odd) {
  background: #e9eff4;
}
.content {
  background: #ddd;
  width: 100%;
  height: 50px;
}
main {
  float: right;
  width: 80%;
}
@media only screen and (max-width: 1280px) {
  main {
    width: 100%;
  }
}
