@import "reset.css";
@import "text.less";
@import "header.less";
@import "footer.less";
@import "filter.less";
@import "wrapper.less";
@import "variables.less";
@import "utilities.less";
@import "grid.less";
@import "test.less";
main{
	float:right;
	width:100%;
	max-width:1020px;
}