table {
  width: 100%;
  max-width: 100%;
}
table thead tr {
  border-bottom: 1px solid #0094e5;
}
table thead tr th {
  font-weight: bold;
  text-align: left;
  padding: 5px 0px;
  font-size: 1.1em;
}
table tbody tr td {
  text-align: left;
  padding: 5px 0px;
}
table tbody tr:nth-child(odd) {
  background: #e9eff4;
}
