@import "variables.less";

table{
	width:100%;
	max-width:100%;
	thead{
		tr{
			th{
				font-weight:bold;
				text-align:left;
				padding:5px 0px;
				font-size:1.1em;
			}
			border-bottom:1px solid lighten(@x-dark-color,30%);
		}
	}
	tbody{
		tr{
			td{
				text-align:left;
				padding:5px 0px;
			}
			&:nth-child(odd){
				background:lighten(@x-light-color,25%);
			}
		}
	}
}