.BoxSizing {
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
}
.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: 0 0px 0px 20px;
  -moz-box-sizing: border-box;
  /* Firefox 1, probably can drop this */
  -webkit-box-sizing: border-box;
  /* Safari 3-4, also probably droppable */
  box-sizing: border-box;
  /* Everything else */
  overflow: hidden;
  clear: both;
}
@media only screen and (max-width: 640px) {
  .wrapper {
    margin: 30px auto;
  }
}
