@import "variables.less";
@import "utilities.less";

.wrapper{
	max-width:@wrapper-width;
	width:100%;
	margin:0px auto;
	padding:0 20px 0px 20px;
	.BoxSizing;
	overflow:hidden;
	margin:10px auto 30px;
	clear:both;
}